version: '3'
services:
  rangebot:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8888:8080
    volumes:
    - ./logs:/app/logs
    environment:
      - TZ=Europe/Moscow
    networks:
      - botnetwork
    restart: always

networks:
  botnetwork:
